@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    padding: 0 calc(50% - 400px);
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.block{
    display: flex;
    flex-wrap: wrap;

    .puzzled-section{
        display: flex;
        flex-wrap: nowrap;
    }
    .column{
        flex-direction: column;
    }
    .row{
        flex-direction: row;
    }
    .wrap{
        flex-wrap: wrap;
    }
}
@keyframes easeIn {
    from{
        margin-top: -20px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

.flex{
    display: flex;
}
#portfolio{
    height: 518px;
}
.puzzled-section{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 10px;

    padding: 20px;
    opacity: 0; 
    animation: easeIn 0.5s forwards;
    -webkit-animation: easeIn 1.5s forwards;
    box-shadow: 0 4px 14px #12121235;
}
.jc-space-a{
    justify-content: space-around;
    align-items: center;
}
.jc-space-b{
    justify-content: space-between;
    align-items: center;
}
.jc-space-c{
    justify-content: center;
    align-items: center;
}

.list, .list-item{
    width: 100%;
    display: flex;
    text-transform: uppercase;
}

.list-item h2,.list-item a{
    font-size: 18px;
    text-decoration: none;
    color: #121212;
    border-bottom: 0px solid #a21616;
    >span{
        font-size: 15px;
        position: relative;
        top: -2.5px;
        margin-right: 5px;
    }
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.list-item a:hover{
    color: #a21616;
    border-bottom: 15px solid #a21616;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.abstract{
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

@media screen and (min-width:500px) {
    .mob{
        display: none;
    }
}
@media screen and (max-width:669px){
    .puzzle-block{
        flex-direction: column;
        >.w-40{
            width: calc(100%) !important;
        }
        >.w-60{
            width: calc(100% - 38px) !important;
            height: 220px !important;
        }
    }
    .puzzle-block .puzzle-stack{
        height: 400px !important;
        >.w-100{
            width: calc(100% - 40px);
        }
    }
}

.scroll-x{
    overflow-x: scroll;
}

.track, .track-item{
    display: flex;
}
.track-item{
    padding: 25px;
    margin-bottom: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &.w-100{
        width: calc(100% - 50px);
    }
}
.track-item:hover{
    color: #fff;
    background-color: #262745;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.filled{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.puzzle-block{
    >.w-100{
        width: calc(100% - 38px);
    }
    >.w-80{
        width: calc(80% - 38px);
    }
    >.w-60{
        width: calc(60% - 58px);
    }
    >.w-40{
        width: calc(40% - 38px);
    }

}
.w-100{
    width: calc(100%);
}
.w-80{
    width: calc(80%);
}
.w-60{
    width: calc(60%);
}
.w-40{
    width: calc(40%);
}
.h-0125{
    height: 50px;
}
.h-025{
    height: 200px;
}
.h-05{
    height: 300px;
}
.h-1{
    height: 400px;
}
.h-2{
    height: 600px;
}
.h-100{
    height: 100%;
}

/* next: unique styles of page  */



#my_face:hover{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: invert(1);
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 20px solid #000;
    border-bottom: 20px solid #000;
    -webkit-filter: invert(1);
}
#my_face{
    width: 100px;
    height: 100px;
    background-image: url(../images/avatar.webp);
    background-size: cover;
    filter: invert(0);
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    -webkit-filter: invert(0);
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


h1{
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
h1 span{
    font-size: 35px;
    font-weight: 800;
    margin: -20px 20px -20px 20px;
    transition: all 0.9s;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
}

h1:hover{
    font-size: 35px;
    font-style: normal !important;
    text-decoration:none !important;
    margin: 0 0;
    cursor: pointer;
    >span{
        font-size: 35px;
        font-style: normal !important;
        text-decoration:none !important;
        margin: 0 0;
    }
}

#buy{
    >h2{
        margin-bottom: 20px;
    }
    >a{
        text-decoration: none;
        color: #3742a5;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
}
    >a:hover{
        background-color: #3742a5;
        color: #fff;
        padding: 5px 15px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
} 
